<%= form_for(@lease) do |f| %>
  <% if @lease.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lease.errors.count, "error") %> prohibited this lease from being saved:</h2>

      <ul>
      <% @lease.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.number_field :phone %>
  </div>
  <div class="field">
    <%= f.label :lease_time %><br />
    <%= f.date_select :lease_time %>
  </div>
  <div class="field">
    <%= f.label :lease_panding %><br />
    <%= f.date_select :lease_panding %>
  </div>
  <div class="field">
    <%= f.label :cost_year %><br />
    <%= f.text_field :cost_year %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
