<h1>Listing leases</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Phone</th>
    <th>Lease time</th>
    <th>Lease panding</th>
    <th>Cost year</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @leases.each do |lease| %>
  <tr>
    <td><%= lease.name %></td>
    <td><%= lease.phone %></td>
    <td><%= lease.lease_time %></td>
    <td><%= lease.lease_panding %></td>
    <td><%= lease.cost_year %></td>
    <td><%= link_to 'Show', lease %></td>
    <td><%= link_to 'Edit', edit_lease_path(lease) %></td>
    <td><%= link_to 'Destroy', lease, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lease', new_lease_path %>
